{% extends 'base.html.twig' %}

{% block title %}Share&Go{% endblock %}

{% block body %}
    <div class="blog padding">
         <h2 style="text-align:center">Politique de confidentialité & gestion des cookies</h2>

        <p>En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de traceurs (cookies) afin de réaliser des statistiques anonymes de visites, vous fournir les services que vous demandez expressément.

        <p>Le site que vous visitez utilise des traceurs (cookies). Ainsi, le site est susceptible d'accéder à des informations déjà stockées dans votre équipement terminal de communications électroniques et d'y inscrire des informations.

            Le site utilise exclusivement des traceurs dits "strictement nécessaires", qui ne nécessitent pas votre consentement préalable.

            Nous utilisons ces traceurs pour permettre et faciliter la navigation sur le site notamment en mémorisant vos préférences de navigation définis au cours de votre session ,fournir les services que vous demandez expressément ou réaliser des statistiques anonymes de visites.

            Ces traceurs ne peuvent pas, techniquement, être désactivés depuis le site. Vous pouvez néanmoins vous opposer à l'utilisation de ces traceurs, exclusivement en paramétrant votre navigateur. Ce paramétrage dépend du navigateur que vous utilisez, mais il est en général simple à réaliser : en principe, vous pouvez soit activer une fonction de navigation privée soit uniquement interdire ou restreindre les traceurs (cookies). Attention, il se peut que des traceurs aient été enregistrés sur votre périphérique avant le paramétrage de votre navigateur : dans ce cas, effacez votre historique de navigation, toujours en utilisant le paramétrage de votre navigateur.

            L'utilisation des traceurs est régie par l'article 32 II de la loi n° 78-17 du 6 janvier 1978, transposant l'article 5.3 de la directive 2002/58/CE du parlement européen et du conseil du 12 juillet 2002 modifiée par la directive 2009/136/CE.

            Pour en savoir plus sur les cookies et traceurs, nous vous invitons à consulter le site de la CNIL : www.cnil.fr.

        </p>
    </div>


    <footer>
        <span class="reseaux">
            <a href="https://twitter.com/shareandgoFR"><img src=" {{ asset('image/picto-twitter.svg') }}"></a>
            <a href="https://www.instagram.com/shareandgoFR/"><img src=" {{ asset('image/picto-insta.svg') }}"></a>
            <a href="https://www.facebook.com/shareandgoFR/"><img src=" {{ asset('image/picto-fb.svg') }}"></a>
        </span>

    </footer>
{% endblock %}

